<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Enter your email to subscribe...">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/juan-antonio-montero-callealta-44507b10b/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/JuanMontero21/weather-app" target="_blank"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <p class="colophon">Copyright 2021 Technical Test. Designed by Themezy. Free templates</p>
    </div>
</footer> <!-- .site-footer -->